<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiabetesApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FC5F6B51E0A89E10086326D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC5F6CC1E0A89E10086326D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC5F6D71E0A89E10086326D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
