<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objectArray</key>
	<array>
		<dict>
			<key>25-12-2016</key>
			<array>
				<dict>
					<key>comment</key>
					<string></string>
					<key>condition</key>
					<string>Post Lunch</string>
					<key>created</key>
					<string>25-12-2016</string>
					<key>day</key>
					<string>0</string>
					<key>reading</key>
					<string>133</string>
				</dict>
				<dict>
					<key>comment</key>
					<string></string>
					<key>condition</key>
					<string>Post Lunch</string>
					<key>created</key>
					<string>25-12-2016</string>
					<key>day</key>
					<string>0</string>
					<key>reading</key>
					<string>119</string>
				</dict>
				<dict>
					<key>comment</key>
					<string></string>
					<key>condition</key>
					<string>Post Lunch</string>
					<key>created</key>
					<string>25-12-2016</string>
					<key>day</key>
					<string>1</string>
					<key>reading</key>
					<string>99</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>29-12-2016</key>
			<array>
				<dict>
					<key>comment</key>
					<string></string>
					<key>condition</key>
					<string>Pre Dinner</string>
					<key>created</key>
					<string>29-12-2016</string>
					<key>day</key>
					<string>4</string>
					<key>reading</key>
					<string>88</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
